.start {
    background: #1d2023;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 100px;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 86%;
        @include adaptiv-marginLeft(94, 16);
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:first-child {
            padding: 70px 0 71px 0;
        }

        &:nth-child(2) {
            padding: 82px 16px 81px 0;
        }
    }

    &__head {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(45, 18);
        line-height: 61px;
        color: #ffffff;
    }

    &__text {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        @include adaptiv-font(18, 15);
        line-height: 25px;
        color: #ffffff;
        width: 65%;
    }

    &__button {
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .start {
        &__text {
            width: 63%;
        }
    }
}

@media (max-width: 650px) {
    .start {
        margin-bottom: 50px;
        margin-top: 50px;

        &__container {
            flex-direction: column;
        }

        &__button {
            width: 100%;
        }

        &__column {
            flex-direction: column;
            width: 100%;

            &:first-child {
                padding: 20px 0 43px 0;
            }

            &:nth-child(2) {
                align-self: center;
                width: 30%;
                padding: 0;
                padding-bottom: 41px;
            }
        }

        &__text {
            min-width: 220px;
            max-width: 370px;
            width: 100%;
        }
    }
}