.rent{
    @include adaptiv-marginBottom(100,50);

    &__content{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        border-radius: 20px;
        @include adaptiv-paddingBottom(40, 20);
        @include adaptiv-paddingTop(40, 20);
        @include adaptiv-paddingRight(40, 20);
        @include adaptiv-paddingLeft(40, 20);
    }

    &__info{
        width: 380px;
        &-text{
            @include adaptiv-font(20,16);
            margin-bottom: 30px;
        }
    }

    &__img{
        position: absolute;
        right: 27px;
    }

    &__btn{
        font-size: 14px;
    }
}


@media (max-width: 1700px) {
    .rent{
        &__img{
            position: static;
        }
    }
}


@media (max-width: 850px) {
    .rent{
        &__content{
            flex-direction: column;
        }
        &__info{
            width: 100%;
            margin-bottom: 40px;
        }
        &__img{
            width: 250px;
        }
    }
}

@media (max-width: 550px) {
    .led{
        &__img{
            width: 100%;
        }
    }
}