.slider {
    margin-bottom: 70px;
    .owl {
        &-stage {
            display: flex;
        }

        &-stage-outer {
            overflow: hidden;
            padding-bottom: 30px;
        }

        &-nav {
            display: flex;
            justify-content: end;

            button {
                background-color: #FFFFFF;
                border: 3px solid transparent;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 15px;
                transition: all .3s;

                &:hover {
                    background-color: transparent;
                    border: 3px solid #fff;
                }

                span {
                    display: none;
                }
            }
        }

        &-dots {
            display: none;
        }

        &-prev {
            background-image: url(/images/icons/arrow-slider-prev.svg);
            background-repeat: no-repeat;
            background-position: center center;

        }

        &-next {
            background-image: url(/images/icons/arrow-slider-next.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }


    &__item {
        display: flex;
        position: relative;
        @include adaptiv-paddingBottom(80, 20);
        @include adaptiv-paddingTop(80, 20);
        @include adaptiv-paddingRight(110, 20);
        @include adaptiv-paddingLeft(110, 20);
        background: #FFFFFF;
        border-radius: 20px;
    }


    &__info {
        width: 415px;
        z-index: 1;
    }


    &__title {
        @include adaptiv-font(45, 25);
        margin-bottom: 10px;
        font-weight: 700;
    }

    &__text {
        @include adaptiv-font(18, 15);
        line-height: 25px;
        margin-bottom: 40px;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
    }
}


@media (max-width: 650px) {
    .slider {
        &__item {
            flex-direction: column;
        }

        &__info {
            width: 100%;
            margin-bottom: 20px;
        }

        &__img {
            position: static;
            width: 100%;
        }


        .owl {
            &-nav {
                display: none;
            }

            &-dots {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-dot {
                width: 8px;
                height: 8px;
                background-color: #fff;
                border: 1px solid #E30613;
                border-radius: 50%;
                &:not(:last-child){
                    margin-right: 10px;
                }
            }

            &-dot.active {
                width: 12px;
                height: 12px;
                background-color: #E30613;
            }
        }
    }

}