.screenled {
	@include adaptiv-marginBottom(90, 45);

	&__content {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #FFFFFF;
			border-radius: 20px;
			@include adaptiv-paddingBottom(40, 20);
			@include adaptiv-paddingTop(40, 20);
			@include adaptiv-paddingRight(40, 20);
			@include adaptiv-paddingLeft(40, 20);
	}

	&__info {
			width: 605px;
			display: flex;
			flex-direction: column;
			align-items: start;

			&-text {
					font-weight: 400;
					@include adaptiv-font(20, 15);
					line-height: 27px;
					margin-bottom: 10px;
			}

			&-title {
					@include adaptiv-font(20, 18);
					line-height: 25px;
					font-weight: 700;
					margin-bottom: 12px;
			}

			&-list{
					margin-bottom: 28px;
			}

			&-item {
					font-weight: 300;
					font-size: 16px;
					line-height: 140%;
					padding-left: 20px;
					position: relative;
					&::before{
							position: absolute;
							content: '';
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background-color: #CE2C3A;
							left: 0;
							top: 5px;
					}
					&:not(:last-child){
							margin-bottom: 8px;
					}
			}
	}

	&__support{
		display: flex;
		flex-direction: row;
		align-items: center;
	
	}

	&__social{
		display: flex;
		flex-direction: column;
		border-left: 1px solid rgba(175, 177, 181, 0.5);
		margin-left: 31px;
		padding-left: 31px;
	}

	&__social--text{
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 700;
		@include adaptiv-font(18, 15);
		line-height: 25px;
		color: #1D2023;

	}

	&__social--number{
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 800;
		@include adaptiv-font(20, 18);
		line-height: 27px;
		color: #1D2023;
		transition: all 0.3s;
		&:hover{
			color: #E30613;
		}

	}

	&__social--massenger{
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		@include adaptiv-font(15, 12);
		line-height: 20px;
		color: #1D2023;
	}

	&__img {
			position: absolute;
			right: -50px;
			width: 45%;
	}
}


@media (max-width: 1700px) {
	.screenled{
			&__img{
					position: static;
					width: 39%;
			}
			&__info{
					width: 680px;
			}

			&__social{
				min-width: 285px;
			}
	}
}

@media (max-width: 850px) {
	.screenled{
			&__content{
					flex-direction: column;
			}
			&__info{
					width: 100%;
					margin-bottom: 40px;
			}
			&__img{
					width: 400px;
			}

			&__social{
				min-width: 249px;
			}

			&__support{
				flex-direction: column;
			}

			&__social{
			padding-left: 0;
			margin-left: 0;
			border-left: none;
			border-top: 1px solid rgba(175, 177, 181, 0.5);
			padding-top: 20px;
			margin-top: 20px;
			
			}
	}
}


@media (max-width: 550px) {
	.led{
			&__img{
					width: 100%;
			}
	}
}