.clients {
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    &-name {
      display: block;
      @include adaptiv-paddingBottom(12, 10);
      width: 670px;
      font-weight: 700;
      @include adaptiv-font(40, 20);
      color: #1d2023;
    }
    &-description {
      display: block;
      width: 515px;
      font-weight: 400;
      font-size: 18px;
      color: #333333;
      padding-bottom: 40px;
    }
  }
  &__checkbox {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    max-width: 30%;

    @include adaptiv-paddingLeft(56, 24);
    @include adaptiv-marginBottom(194, 40);
    &-item {
      display: flex;
      padding-bottom: 30px;
      &:first-child {
        @include adaptiv-paddingTop(30, 20);
      }
    }
    &-click {
      padding-right: 6px;
    }
    &-text {
      &_name {
        display: block;
        font-weight: 700;
        @include adaptiv-font(20, 18);
        line-height: 140%;
        color: #333333;
      }
      &_description {
        display: block;
        width: 90%;
        font-weight: 300;
        font-size: 15px;
        line-height: 140%;
        color: #333333;
      }
    }
  }
  &__map {
    position: absolute;
    width: 55%;
    right: 0;
    top: 15%;
  }
}

@media (max-width: 1600px) {
  .clients {
    &__checkbox {
      max-width: 40%;
    }
    &__map {
      top: 20%;
    }
  }
}

@media (max-width: 1150px) {
  .clients {
    &__map {
      top: 30%;
    }
  }
}

@media (max-width: 930px) {
  .clients {
    &__container {
      align-items: center;
    }
    &__text {
      align-items: center;
      margin-left: -100px;
      &-name {
        max-width: 300px;
      }
      &-description {
        max-width: 288px;
      }
    }
    &__checkbox {
      max-width: 400px;
      margin-right: 20px;
      order: 2;
    }
    &__map {
      position: static;
      width: 100%;
      order: 1;
    }
  }
}

@media (max-width: 450px) {
  .clients {
    &__text {
      margin-left: -50px;
    }
  }
}

@media (max-width: 380px) {
  .clients {
    &__text {
      margin-left: 0px;
    }
  }
}
