.clients {
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    &-name {
      @include adaptiv-paddingBottom(12, 10);
      max-width: 745px;
      font-weight: 700;
      @include adaptiv-font(40, 20);
      color: #1d2023;
    }
    &-description {
      max-width: 515px;
      font-weight: 400;
      font-size: 18px;
      color: #333333;
      padding-bottom: 40px;
    }
  }
  &__checkbox {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
    max-width: 30%;

    @include adaptiv-paddingLeft(56, 24);
    @include adaptiv-marginBottom(194, 40);
    &-item {
      display: flex;
      padding-bottom: 30px;
      &:first-child {
        @include adaptiv-paddingTop(30, 20);
      }
    }
    &-text {
      position: relative;
      padding-left: 22px;
      &_name {
        display: block;
        font-weight: 700;
        @include adaptiv-font(20, 18);
        line-height: 140%;
        color: #333333;
      }
      &_description {
        display: block;
        width: 90%;
        font-weight: 300;
        font-size: 15px;
        line-height: 140%;
        color: #333333;
      }
      &::before {
        position: absolute;
        content: url(/images/icons/checkbox-active.svg);
        top: 5px;
        left: 0;
        width: 16px;
        height: 16px;
      }
    }
  }
  &__map {
    position: absolute;
    width: 55%;
    right: 0;
    top: 15%;
    &--hidden {
      display: none;
    }
  }
}

@media (max-width: 1600px) {
  .clients {
    &__checkbox {
      max-width: 40%;
    }
    &__map {
      top: 20%;
    }
  }
}

@media (max-width: 1150px) {
  .clients {
    &__map {
      top: 30%;
    }
  }
}

@media (max-width: 930px) {
  .clients {
    &__checkbox {
      order: 2;
      max-width: 100%;
    }
    &__map {
      display: none;
      &--hidden {
        position: static;
        display: block;
        min-width: 930px;
      }
    }
  }
}


@media (max-width: 650px) {
    .clients{
        &__map{
            &--hidden{
                margin-top: -40%;
            }
        }
    }
}